.content {
  margin: 1vh 1vw;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.upper {
  display: flex;
  align-items: center;
}

.upper p {
  font-size: smaller;
  color: grey;
  margin: 0 20px;
}

.title {
  font-size: x-large;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2vh 0;
  text-align: left;
  text-size-adjust: auto;
}

.about {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block; 
  width: 250px;
  /* padding: 0 10px; */
}

hr {
  width: 100%;
  border: 1px solid rgb(159, 157, 157);
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vh 0;
}

.clap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
}

.heart {
  margin-left: 50px;
}

.reaction {
  height: 3vh;
  width: 3vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reaction:hover {
  transform: scale(1.2);
}